body {
  margin: 0;
}

.first-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-container {
  background-color: #9b325a;
  text-align: center;
  border-radius: 8px;
  width: 50%;
  padding: 2%;
}

.detail-image {
  opacity: unset;
  filter: saturate(100%);
  width: 50%;
  margin-bottom: 2rem;
}

.text-city {
  color: white;
  font-size: 230%;
  margin-bottom: 2rem;
}

.details-list {
  font-size: 1.5rem;
}

td {
  width: 10%;
  border: none;
  padding: 1%;
}

tr:nth-child(odd) {
  background-color: rgb(201, 201, 201);
}

tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}
