.activeLink {
  visibility: hidden;
}

.NonActiveLink {
  visibility: visible;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
